<p id="notice"><%= notice %></p>

<h1>Listing Darums</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Csv</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @darums.each do |darum| %>
      <tr>
        <td><%= darum.user %></td>
        <td><%= darum.csv_id %></td>
        <td><%= link_to 'Show', darum %></td>
        <td><%= link_to 'Edit', edit_darum_path(darum) %></td>
        <td><%= link_to 'Destroy', darum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Darum', new_darum_path %>
