<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @datum.user %>
</p>

<p>
  <strong>Csv:</strong>
  <%= @datum.csv_id %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
