<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<p>
  <strong>Image:</strong>
<<<<<<< HEAD
  <%= image_tag attachment_url(@post, :image, :fill, 300, 300, format:"jpg")%>
=======
  <%= image_tag attachment_url(@post, :image, :fill, 300, 300, format: "png") %>
>>>>>>> 6c6a7a1171d965961e49a8a893c566db2afb5f78
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
